<footer class="page-footer font-small footer">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-3 mt-5">
        <h6 class="text-uppercase mt-3 mb-4">AUCTION</h6>

        <ul class="list-unstyled">
          <li>
            <a href="#!">About Us</a>
          </li>
          <li>
            <a href="#!">Terms and Conditions</a>
          </li>
          <li>
            <a href="#!">Privacy and Policy</a>
          </li>
        </ul>

      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-4 mt-5">
        <h6 class="text-uppercase mt-3 mb-4">get in touch</h6>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Call us at +123797-595-2595</a>
          </li>
          <li>
            <a href="#!">support@auction.com</a>
          </li>
          <ul class="nav">
            <li>
              <a href="#!" class="nav-link"><i class="fa fa-facebook-official "></i></a>
            </li>
            <li>
              <a href="#!" class="nav-link"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="#!" class="nav-link"><i class="fa fa-twitter-square"></i></a>
            </li>
            <li>
              <a href="#!" class="nav-link"><i class="fa fa-google-plus-official"></i></a>
            </li>
          </ul>
        </ul>

      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-5 mt-5">
        <h6 class="text-uppercase mt-3 mb-4">NEWSLETTER</h6>

        <ul class="list-unstyled">
          <li>
            <p>Enter your email address and get notified about new products. We hate spam!</p>
          </li>
          <li>
            <form class="form-inline">
              <input class="input-email mr-sm-2 col-md-6" placeholder="Your Email address">
              <button class="btn btn-go my-2 my-sm-0">GO ></button>
            </form>
          </li>

        </ul>
      </div>

    </div>

  </div>

</footer>