
.input-price{
    height: 54px;
    font-size: 18px;
    background: var(--input);
    border: 1px solid var(--darker-border);
    border-radius: 0;
    color: var(--black);
}
.navbar-item a{
    color: var(--black);
}
a.nav-link{
    cursor:pointer;
}
.alert{
    border-radius: 0;
    padding-left: 10%;
}
.alert-purple{
    padding-left: 10%;
    background-color: #F2EFF9;
    color: var(--purple);
}
.alert-info
{
    text-indent: 15px;
    border-color:transparent;
    border-width: 0;
}
.form-group .alert-info{
    padding-left: 0; 
}

.row#carouselRow{
    color: gainsboro;
    flex-wrap: nowrap;
    width: unset;
}

.carousel-control-next, 
.carousel-control-prev{
    width: min-content;
    padding-top: 18px;
    position: relative;
}
.carousel-item{
    margin-right: 0;
    float: none;
    width: initial;
}
.w-min{
    min-width: min-content;
    width: min-content;
}
.card-img-top{
    height:400px;
    max-height: fit-content;
    min-height: 400px;
    object-fit: cover;
}
#carouselRow img{
    height: 100px;
    width: inherit;
    object-fit: cover;
}
#carouselRow :last-child{
    padding-right: 0 !important;
}
#carouselRow :first-child{
    padding-left: 0 !important;
}
.w-inherit{
    width: inherit;
    max-width: initial;
}
.w-fit{
    max-width: fit-content;
}
.btn-purple-outline{
    height:54px;
}

.card{
    border-style: groove;
    border-width: 0;
    border-radius: 0;
}

.card-body h6 a,
.card-title h6,
#startPrice{
    color: var(--purple);
}
.card-img-top{
    width: auto;
    border-radius: 0;
    height: 250px;
    object-fit: cover;
}
.card a{
    color: var(--black);
}
.card-text:last-child{
    position: absolute;
    bottom: 0;
}