<div class="navbar component-navbar navbar-item px">
  <div class="navbar-brand">SINGLE PRODUCT</div>
  <nav aria-label="breadcrumb" class="justify-content-end bg-transparent">
    <ol class="breadcrumb navbar-item">
      <li class="breadcrumb-item">SHOP</li>
      <li class="breadcrumb-item active" aria-current="page">{{item.category?.parent?.categoryName}}</li>
      <li class="breadcrumb-item active" aria-current="page">{{item.category?.categoryName}}</li>
    </ol>
  </nav>
</div>
<div *ngIf="currentUser==null && loadedUser" class="alert alert-info mb-0" role="alert">
  Login or register to make a bid!
</div>
<div *ngIf="show">
  <div *ngIf="highest" class="alert alert-success mb-0" role="alert">
    Congrats! You are the highest bidder!
  </div>
  <div *ngIf="!highest" class="alert alert-warning mb-0" role="alert">
    There are higher bids than yours. You could give a second try!
  </div>
</div>
<div *ngIf="expired && currentUser.id===item.seller?.id; else generalExpiredInfo">
  <ng-container [ngTemplateOutlet]="hasBids? paymentInfo : noBidsInfo"></ng-container>
  <ng-template #paymentInfo>
    <div class="alert alert-success alert-info mb-0" role="alert">
      Time for bidding expired! The payment from the highest bidder is pending.
    </div>
  </ng-template>
  <ng-template #noBidsInfo>
    <div *ngIf="hasBids!=undefined" class="alert alert-danger alert-info mb-0" role="alert">
      Time for bidding expired! There is no bids for this item.
    </div>
  </ng-template>
</div>
<ng-template #generalExpiredInfo>
  <div *ngIf="expired!=undefined && expired && !item?.paid" class="alert alert-danger alert-info mb-0" role="alert">
    Time for bidding expired for this item!
  </div>
</ng-template>
<div class="container mx w-fit" *ngIf="item.images">
  <div class="row mb-2">
    <div class="col-lg-6 col-sm-6 pr-0">
      <img src="{{currentImage}}" class="card-img-top col px-0" alt="">
      <div class="container w-inherit" *ngIf="item.images!=undefined">
        <div class="row mt-3">
          <!--<div class="w-min">
            <a class="carousel-control-prev" href="#multi_item" role="button" data-slide="prev"
              [style.color]="'gainsboro'">
              <i class="fa fa-chevron-left"></i>
              <span class="sr-only">Previous</span>
            </a>
          </div>-->
          <div class="carousel slide col-md-12 p-0" data-ride="carousel" id="multi_item">
            <div class="carousel-inner container w-inherit">
              <div class="carousel-item active">
                <div class="row" id="carouselRow">
                  <div class="col-md px-1" *ngFor="let img of item.images"><img class="mx-auto d-block"
                      src="{{img.url}}" (click)="currentImage=img.url">
                  </div>
                </div>
              </div>
              <!--<div *ngIf="this.item.images.length>5" class="carousel-item">
                <div class="row">
                  <div class="col-md" *ngFor="let img of item.images.slice(5)"><img class="d-block w-100"
                      src="{{img.url}}" (click)="currentImage=img.url">
                  </div>
                </div>
              </div>-->
            </div>
          </div>
          <!--<div class="w-min">
            <a class="carousel-control-next" href="#multi_item" role="button" data-slide="next"
              [style.color]="'gainsboro'">
              <i class="fa fa-chevron-right"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>-->
        </div>
      </div>

    </div>
    <div class="col-lg-6 col-sm-6">
      <h2>{{item.name}}</h2>
      <h5><mark>Start from ${{item.startPrice}}</mark></h5>
      <div *ngIf="(currentUser!=null) && (item.seller?.id!=currentUser.id) && !item.paid">
        <form (ngSubmit)="makeBid()" [formGroup]="bidForm" class="form-inline">
          <input type="number" formControlName="price" class="form-control input-price p-1"
            [ngClass]="{ 'is-invalid': submitted && f.price.errors }" (input)="viewPrice()" />
          <input type="submit" class="btn btn-purple-outline ml-2" value="PLACE BID >" />
          <div *ngIf="submitted && !!f.price.errors" class="invalid-feedback">
            <div *ngIf="!!f.price.errors['required']">Price is required</div>
            <div *ngIf="!!f.price.errors['maxlength']">Maximum input length is 10</div>
            <div *ngIf="!!f.price.errors['pattern']">Format of decimal input is 100.00</div>
            <div *ngIf="!!f.price.errors.min || !!f.price.errors.incorrect">Higher value required</div>
          </div>
        </form>
        <p>Enter ${{item.currentPrice+10}} or more</p>
      </div>
      <div *ngIf="(currentUser!=null) && (highestBidder?.id===currentUser?.id) && item.paid">
        <div class="alert alert-warning alert-purple alert-dismissible fade show mb-0" role="alert">
          <b>Congradulation!</b>You outbid the competition. <i class="fa fa-check-circle"></i>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

      <div class="col-md-12 px-0">
        <p>Seller: <img class="img-round" [src]="item.seller?.photo" height="40" width="40"> {{item.seller?.firstName}}
          {{item.seller?.lastName}} <i class="fa fa-star"></i> {{sellerRating | number: '1.1-2'}}/5</p>
        <div *ngIf="(currentUser!=null)&&(item.seller?.id!=currentUser.id); else infoSeller">
          <p><br>
            Highest bid: <mark>${{item.currentPrice}}</mark>
            <br>
            No bid: {{(itemBids?.length || 0)+1}}
            <br>
            End date: {{item.endDate | date: 'd MMM yyyy'}} <br>
          </p>
          <ng-container [ngTemplateOutlet]='checkWishlist(item) ? inWishlist : notInWishlist'
            [ngTemplateOutletContext]="{item:item}"></ng-container>
          <ng-template #inWishlist>
            <button class="btn btn-watchlist" data-toggle="popover" data-trigger="hover"
              data-content="This item is already in your wishlist!">Wishlist
              <span class="fa fa-heart"></span></button>
          </ng-template>
          <ng-template #notInWishlist>
            <button class="btn btn-watchlist" (click)="addToWishlist(item)" [disabled]="this.expired">Wishlist
              <span class="fa fa-heart-o"></span></button>
          </ng-template>
        </div>
        <ng-template #infoSeller>
          <p><br><br>
            Highest bid: <mark>${{item.currentPrice}}</mark>
            <br>
            Number of bids: {{itemBids?.length || 0}}
            <br>
            End date: {{item.endDate | date: 'd MMM yyyy'}} <br>
          </p>
        </ng-template>
        <br>
        <h6 class="my-2">Details</h6>
        <hr>
        <p>{{item.description}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="currentUser" class="row my-2">
    <ng-container [ngTemplateOutlet]="currentUser.id===item.seller.id? Bids : RelatedItems">
    </ng-container>
    <ng-template #Bids>
      <ng-container [ngTemplateOutlet]="expired? HighestBidder : TableBids"></ng-container>
      <ng-template #TableBids>
        <div class="col-lg-12">
          <table class="my-table col-12">
            <thead>
              <tr>
                <th scope="col" class="pl-3">Bidder</th>
                <th scope="col" class="w-auto"></th>
                <th scope="col" class="w-auto">Date</th>
                <th scope="col" class="w-auto">Price</th>
              </tr>
            </thead>
            <tbody *ngIf="hasBids">
              <tr *ngFor="let b of itemBids">
                <td><img class="img-round" height="80" width="80" src="{{b.bidder.photo}}">
                </td>
                <td class="pl-3">{{b.bidder.firstName}} {{b.bidder.lastName}}</td>
                <td>{{b.bidTime | date:'d MMM yyyy'}}</td>
                <td>$ {{b.bidPrice}}</td>
              </tr>
            </tbody>
          </table>
          <ul class="nav nav-pills justify-content-center py-4" *ngIf="totalPages>0">
            <li *ngIf="currentPage>0" class="nav-item">
              <a class="btn btn-purple-outline nav-link" (click)="loadItemBids(currentPage-1)">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> Prev</a>
            </li>
            <li *ngIf="currentPage+1<totalPages" class="nav-item">
              <a class="btn btn-purple-outline nav-link" (click)="loadItemBids(currentPage+1)">
                Next <i class="fa fa-chevron-right" aria-hidden="true"></i> </a>
            </li>
          </ul>
        </div>
        <div *ngIf="!hasBids" class="col-md-12 form-group">
          <div class="alert alert-info" role="alert">
            No bids made yet!
          </div>
        </div>
      </ng-template>
      <ng-template #HighestBidder>
        <div class="col-lg-12 my-container" *ngIf="highestBidder">
          <div class="title">
            <h5>HIGHEST BIDDER</h5>
          </div>
          <div class="row">
            <div class="col-md-3 text-center">
              <img class="img-round p-1" height="80" width="80" src="{{highestBidder.photo}}">
            </div>
            <div class="col-md-3 text-center my-auto">
              {{highestBidder.firstName}} {{highestBidder.lastName}}
            </div>
            <div class="col-md-3 text-center my-auto">
              Price: <mark>${{item.currentPrice}}</mark>
            </div>
            <div class="col-md-3  text-center my-auto">
              <ng-container [ngTemplateOutlet]="item.paid? Paid : Pending"></ng-container>
              <ng-template #Pending>
                <a class="btn btn-grey-fill" [style.color]="'#A6555F'">PENDING</a>
              </ng-template>
              <ng-template #Paid>
                <a class="btn btn-grey-fill" [style.color]="'#417505'">PAID</a>
              </ng-template>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-template>
    <ng-template #RelatedItems>
      <div class="container m-0 py-4 mw-100">
        <h5>Related items</h5>
        <hr>
        <div class="row" *ngIf="relatedItems">
          <div *ngFor="let item of relatedItems" class="card col-md-4 col-12">
            <a role="link" [routerLink]="['/item', item?.id]"><img class="card-img-top col"
                [src]="item.images[0].url"></a>
            <div class="card-body p-2">
              <h6 class="card-title"><a role="link" [routerLink]="['/item', item?.id]">{{item.name}}</a></h6>
              <p class="card-text">Start from ${{item.startPrice}}</p>
            </div>
          </div>
        </div>

      </div>
    </ng-template>

  </div>
</div>