.btn-bid{
    border-style: grove;
    border-color: #8367D8;
    border-width: 3px;
    background-color:#fff;
    color:#252525;
}

.input-price{
    border-style: solid;
    border-color: gainsboro;
    border-width: 3px;
    background-color: gainsboro;
    color:#252525;
}
.navbar-item{
    color: #212529;
    background-color: #f8f9fa;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 0;
}
.navbar-item a{
    color: #212529;
}