<div class="navbar component-navbar navbar-item px">
  <div class="navbar-brand">BECOME SELLER</div>
  <nav aria-label="breadcrumb" class="justify-content-end bg-transparent">
    <ol class="breadcrumb navbar-item mb-0">
      <li class="breadcrumb-item">MY ACCOUNT</li>
      <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
  </nav>
</div>
<div class="container mx" id="userProfile">
  <ul class="nav nav-pills py-2">
    <li class="nav-item">
      <a class="nav-link ml-0" role="link" data-toggle="collapse" data-target="#collapseProfile" aria-expanded="true"
        aria-controls="collapseProfile"> <i class="fa fa-user" aria-hidden="true"></i>
        Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseItems" aria-expanded="false"
        aria-controls="collapseItems"> <i class="fa fa-list" aria-hidden="true"></i>
        Seller</a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseBids" aria-expanded="false"
        aria-controls="collapseBids"> <i class="fa fa-gavel"></i>
        Bids</a>
    </li>
  </ul>
  <div class="collapse show" id="collapseProfile" data-parent="#userProfile">
    <div class="my-container">

      <div class="title">
        <h4>PROFILE</h4>
      </div>
      <div class="row">
        <div class="col-md-4 col-12 mx-4 align-center">
          <div class="row justify-content-center">
            <img class="col-11 img-fluid img-user" [src]="currentUser.photo">
          </div>
          <div class="row justify-content-center">
            <div class="col-11">
              <button disabled class="btn-grey-outline align-center">CHANGE
                PHOTO</button>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-12 align-center">
          <form class="px-1 py-3">
            <div class="row mt-5">
              <div class="col form-group">
                <label>First name</label>
                <input disabled type="text" class="form-control" value="{{currentUser.firstName}}">
              </div>
            </div>

            <div class="row">
              <div class="col form-group">
                <label>Last name</label>
                <input disabled type="text" class="form-control" value="{{currentUser.lastName}}">
              </div>
            </div>

            <div class="row">
              <div class="dropdown col">
                <label>I am</label><br>
                <button disabled class="btn btn-light col-md-6" type="button" id="genderButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Gender
                </button>
                <div class="dropdown-menu" aria-labelledby="genderButton">
                  <a class="dropdown-item">Male</a>
                  <a class="dropdown-item">Female</a>
                  <a class="dropdown-item">Other</a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="dropdown col">
                <label>Date of birth</label><br>
                <button disabled class="btn btn-light col-3" type="button" id="dayButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Day
                </button>
                <div class="dropdown-menu" aria-labelledby="dayButton">
                </div>
                <button disabled class="btn btn-light col-3 align-right" type="button" id="monthButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Month
                </button>
                <div class="dropdown-menu" aria-labelledby="monthButton">
                </div>
                <button disabled class="btn btn-light col-3" type="button" id="yearButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Year
                </button>
                <div class="dropdown-menu" aria-labelledby="yearButton">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col form-group">
                <label>Phone</label>
                <input disabled type="text" class="form-control" value="123-456-789">
              </div>
            </div>

            <div class="row">
              <div class="col form-group">
                <label>Email</label>
                <input disabled type="text" class="form-control" value="{{currentUser.email}}">
              </div>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>

  <div class="collapse mb-4" id="collapseItems" data-parent="#userProfile">
    <div *ngIf="hasItems;else infoItems">
      <table class="my-table table">
        <thead class="thead">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Name</th>
            <th scope="col">End Date</th>
            <th scope="col">Your Price</th>
            <th scope="col">No Bids</th>
            <th scope="col">Highest Bid</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="items">
          <tr *ngFor="let item of items" class="px-3">
            <td><img height="100" width="100" src="{{item.images[0].url}}"></td>
            <td>{{item.name}}</td>
            <td>{{item.endDate | date: 'd MMM yyy'}}</td>
            <td class="text-info">$ {{item.startPrice}}</td>
            <td>{{item.itemBids?.length}}</td>
            <td class="text-info">$ {{item.currentPrice}}</td>
            <td>
              <button class="form-control view-btn" role="link" [routerLink]="['/item',item.id]">VIEW</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #infoItems>
      <div class="col-md-12 form-group alert-info">
        <div class="alert alert-info" role="alert">
          No items for sale yet!
        </div>
      </div>
    </ng-template>
  </div>
  <div class="collapse" id="collapseBids" data-parent="#userProfile">
    <div *ngIf="hasBids;else infoBids">
      <table class="my-table table">
        <thead class="thead">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Name</th>
            <th scope="col">Time Left</th>
            <th scope="col">Your Price</th>
            <th scope="col">Highest Bid</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bid of bids" class="px-3">
            <td><img height="100" width="100" src="{{bid.auctionItem?.images[0].url}}"></td>
            <td class="name-col">{{bid.auctionItem.name}}</td>
            <td>{{getTimeLeft(bid.auctionItem.endDate)}}</td>
            <td class="text-info">$ {{bid.bidPrice}}</td>
            <td class="text-info">$ {{bid.auctionItem.currentPrice}}</td>
            <td>
              <button class="form-control view-btn" role="link"
                [routerLink]="['/item',bid.auctionItem.id]">VIEW</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #infoBids>
      <div class="col-md-12 form-group alert-info">
        <div class="alert alert-info" role="alert">
          No bids made yet!
        </div>
      </div>
    </ng-template>
  </div>


</div>