<div class="my-container">

  <div class="title">
    <h4>PROFILE</h4>
  </div>
  <div class="row">
    <div class="col-md-4 col-12 mx-4 pt-4 align-center">
      <div class="row justify-content-center">
        <img class="col-11 img-fluid img-user" [src]="userPhoto">
      </div>
      <div class="row justify-content-center" *ngIf="editMode">
        <div class="col-11 pt-4">
          <input id="profilePhoto" type="file" ng2FileSelect [uploader]="uploader" class="align-center">
          <label for="profilePhoto" class="btn btn-grey-outline align-center">CHANGE PHOTO</label>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-12 align-center">
      <div class="row mt-3">
        <div class="col">
          <p *ngIf="editMode" class="updateTitle mb-0">UPDATE YOUR PROFILE</p>
          <button class="btn-edit" (click)="EditMode()"><i class="fa fa-pencil"></i></button>
        </div>
      </div>
      <form class="px-1 py-3" [formGroup]="editUserForm" (ngSubmit)="SaveChanges()">
        <div class="row">
          <div class="col form-group">
            <label>First name</label>
            <input formControlName="firstName" type="text" class="form-control" value="{{currentUser.firstName}}"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && !!f.firstName.errors" class="invalid-feedback">
              <div *ngIf="!!f.firstName.errors.required">First name is required</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col form-group">
            <label>Last name</label>
            <input formControlName="lastName" type="text" class="form-control" value="{{currentUser.lastName}}"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && !!f.lastName.errors" class="invalid-feedback">
              <div *ngIf="!!f.lastName.errors.required">Last name is required</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="dropdown col">
            <label>I am</label><br>
            <input formControlName="gender" [class.disabled]="!editMode" class="btn btn-light btn-combo col-md-6"
              readonly placeholder="Gender" id="genderButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
              value="{{gender}}"  [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
            <div class="dropdown-menu" aria-labelledby="genderButton">
              <a class="dropdown-item" (click)="gender='Male'">Male</a>
              <a class="dropdown-item" (click)="gender='Female'">Female</a>
              <a class="dropdown-item" (click)="gender='Other'">Other</a>
            </div>
            <div *ngIf="submitted && !!f.gender.errors" class="invalid-feedback d-block">
              <div *ngIf="!!f.gender.errors.required">Gender name is required</div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col">
            <label>Date of birth</label><br>
            <ng-container [ngTemplateOutlet]="editMode? enableDatepicker : disableDatepicker"></ng-container>
            <ng-template #enableDatepicker>
              <div class="select">
                <ngx-combo-datepicker formControlName="birthDate" [date]="currentUser.birthDate!=null? currentUser.birthDate : null"
                  placeholder="Year,Month,Date" [attrsDate]="{ 'class': 'btn btn-light col-4','style': 'border-radius: 0;
              height: 54px;
              font-size: 18px;
              text-align-last: center;'}" [attrsMonth]="{ 'class': 'btn btn-light col-4','style': 'border-radius: 0;
              height: 54px;
              font-size: 18px;
              text-align-last: center;'}" [attrsYear]="{ 'class': 'btn btn-light col-4' ,'style': 'border-radius: 0;
              height: 54px;
              font-size: 18px;
              text-align-last: center;'}">
                </ngx-combo-datepicker>
              </div>
            </ng-template>
            <ng-template #disableDatepicker>
              <ngx-combo-datepicker [disabled]="true" [date]="currentUser.birthDate!=null? currentUser.birthDate : null" formControlName="birthDate"
                placeholder="Year,Month,Date" [attrsDate]="{ 'class': 'btn btn-light col-4','style': 'border-radius: 0;
              height: 54px;
              font-size: 18px;
              text-align-last: center;'}" [attrsMonth]="{ 'class': 'btn btn-light col-4','style': 'border-radius: 0;
              height: 54px;
              font-size: 18px;
              text-align-last: center;'}" [attrsYear]="{ 'class': 'btn btn-light col-4' ,'style': 'border-radius: 0;
              height: 54px;
              font-size: 18px;
              text-align-last: center;'}">
              </ngx-combo-datepicker>
            </ng-template>

            <div *ngIf="submitted && !!f.birthDate.errors" class="invalid-feedback d-block">
              <div *ngIf="!!f.birthDate.errors.required">Date of birth is required</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col form-group">
            <label>Phone</label>
            <input formControlName="phone" type="text" class="form-control" placeholder="123/456-789" value="{{currentUser.phone}}"
              [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
            <div *ngIf="submitted && !!f.phone.errors" class="invalid-feedback">
              <div *ngIf="!!f.phone.errors.required">Phone is required</div>
              <div *ngIf="!!f.phone.errors.pattern">Phone number cannot contain letters</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col form-group">
            <label>Email</label>
            <input disabled type="text" class="form-control" value="{{currentUser.email}}">
          </div>
        </div>

        <div class="row justify-content-center" *ngIf="editMode">
          <div class="col-4">
            <button type="submit" class="btn btn-purple-fill w-100">Save Changes</button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-purple-outline w-100" (click)="EditMode()">Cancel</button>
          </div>
        </div>
        <div *ngIf="msgSaved && !editMode" class="alert alert-success">
          Changes are saved!
        </div>
      </form>

    </div>
  </div>

</div>