.img-user{
    object-fit: cover;
    height: 400px;
    max-height: 400px;
}
.btn-edit{
    display: flex;
    line-height: 54px;
    background-color: transparent;
    float: right;
    border-radius: 0;
    border-width: 0;
    font-size: 28px;
    color: var(--light-gray);
}
.btn-edit:focus{
    outline-width: 0;
    outline-color: transparent;
}
.btn-combo{
    cursor: pointer;
    border-radius: 0;
    height: 54px;
    font-size: 18px;
    text-align-last: center;
}
.btn-light:focus{
    border: 0ch;
    box-shadow: 0 0 0 0 transparent !important;
}
 
[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

.updateTitle{
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    line-height: initial;
    color: var(--light-gray);
}

.alert{
    border-radius: 0;
    border-width: 0;
}
#genderButton.btn.disabled{
    cursor:default;
}
#genderDropdown.dropdown-menu{
    width: 47.5%;
    border-radius: 0;
    background-color: var(--header);
}
.dropdown button{
    height: 54px;
  }
  .dropdown-menu{
    overflow-y:scroll;
    overflow:auto;
    max-height: 280px;
  }
  .dropdown-menu,
  .dropdown input,
  .dropdown button{
      min-width: fit-content;
      width: -webkit-fill-available;
      font-size: 1rem;
      line-height: 1.5;
      text-align: left;
      border-radius: 0;
      background: #FCFCFC;
      border: 1px solid #D8D8D8;
  }
  .dropdown-item.active{
      background-color: var(--purple);
      color: white;
  }
  .dropdown-toggle::after {
      font-family: "FontAwesome";
      font-weight: 900;
      content: "\f078";
      float: right;
      border:0;
      }
  