.btn-bid{
    border-style: grove;
    border-color: #8367D8;
    border-width: 3px;
    background-color:#fff;
    color:#252525;
}
.card{
    border-style: groove;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-color: lightgray;
    border-radius: 0;
}
.card-title h6{
    color:#8367D8;
}
.first-block{
    background-color: #f3f3f5;
}
