<div class="container m-0 p-0 mw-100">
    <div class="container m-0 px mw-100 first-block">
        <div class="row">
            <div class="col-md-3 py-0" id="categoriesList">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h6>CATEGORIES</h6>
                        </div>
                    </div>
                    <ul class="categories list-group list-group-flush" id="categoryList">
                        <li *ngFor="let category of categories" class="list-group-item list-group-flush">
                            <a role="link" data-toggle="collapse" href="#{{category.categoryName}}"
                                aria-expanded="false"
                                attr.aria-controls="{{category.categoryName}}">{{category.categoryName}}</a>
                            <div id="{{category.categoryName}}" class="collapse" data-parent="#categoryList">
                                <ul class="category.children list-group" *ngIf="category.children!=null">
                                    <li *ngFor="let subcategory of category.children" class="list-group-item">
                                        <a role="link" [routerLink]="['/shop', subcategory.id]">{{subcategory.categoryName}}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item list-group-flush">
                            <a role="link" routerLink='/shop' routerLinkActive="active-link">All categories</a>
                        </li>
                    </ul>

                </div>

            </div>
            <!-- end Categories -->

            <div class="col-md-9">

                <div class="container my-3">
                    <div class="row d-flex">
                        <div class="col-12 col-md-6 d-flex align-items-center" *ngIf="items[0]">
                            <header class="intro-wrap text-black">
                                <h4>{{items[0].name}}</h4>
                                <p id="startPrice">Start from - ${{items[0].startPrice}}</p>
                                <p>{{items[0].description}}</p>
                                <a [routerLink]="['/item', items[0].id]" class="btn btn-purple-outline">BID NOW ></a>
                            </header>
                        </div>
                        <div class="col-12 col-md-6 text-right">
                            <a [routerLink]="['/item', items[0].id]"><img [src]="items[0].images[0].url"
                                    class="img-fluid my-5" height="300" width="auto"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container m-0 py-4 px mw-100">
        <h5>Featured items</h5>
        <hr>
        <div class="row items">
            <div *ngFor="let item of items" class="card col-md-3 col-12">
                <a role="link" [routerLink]="['/item', item.id]"><img class="card-img-top col"
                        [src]="item.images[0].url"></a>
                <div class="card-body p-2">
                    <h6 class="card-title"><a role="link" [routerLink]="['/item', item.id]">{{item.name}}</a></h6>
                    <p class="card-text">Start from ${{item.startPrice}}</p>
                </div>
            </div>
        </div>

    </div>

</div>