<div class="navbar component-navbar navbar-item px">
  <div class="navbar-brand">SHOP</div>
  <nav aria-label="breadcrumb" class="justify-content-end bg-transparent">
    <ol class="breadcrumb navbar-item mb-0">
      <li class="breadcrumb-item">SHOP</li>
      <ng-container *ngIf="currentCategory!=null; else allCat">
        <li class="breadcrumb-item">{{currentCategory.parent?.categoryName}}</li>
        <li class="breadcrumb-item active">{{currentCategory.categoryName}}</li>
      </ng-container>
      <ng-template #allCat>
        <li class="breadcrumb-item active">All categories</li>
      </ng-template>
    </ol>
  </nav>
</div>
<div class="container mx">
  <div class="row">
    <div class="col-md-3 py-0" id="categoriesList">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h6>PRODUCT CATEGORIES</h6>
          </div>
        </div>
        <ul class="categories list-group list-group-flush" id="categoryList">
          <li *ngFor="let category of categories" class="list-group-item list-group-flush">
            <a role="link" data-toggle="collapse" href="#{{category.categoryName}}" aria-expanded="false"
              attr.aria-controls="{{category.categoryName}}">{{category.categoryName}}<span class="ml-auto"></span>
            </a>
            <div id="{{category.categoryName}}" class="collapse" data-parent="#categoryList">
              <ul class="category.children list-group">
                <li *ngFor="let subcategory of category.children" class="list-group-item">
                  <a [routerLink]="['/shop',category.categoryName,subcategory.categoryName]"
                    [style.color]="'gray'">{{subcategory.categoryName}}</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- end Categories -->

    <div class=" col-md-9">
      <div class="container">
        <!-- Sorting and View Mode-->
        <div class="row">
          <div class="navbar my-navbar">
            <div class="nav-item dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">{{selectedSortOrder}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" *ngFor="let sortOrder of sortOrders"
                  (click)="ChangeSortOrder(sortOrder)">{{sortOrder}}</a>
              </div>
            </div>
            <ul class="nav nav-pills nav-item">
              <li class="nav-item">
                <a class="nav-link ml-0" data-toggle="tab" [class.active]="showGrid" (click)="showGrid=true;">
                  <i class="fa fa-th" aria-hidden="true"></i> Grid</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mr-0" data-toggle="tab" [class.active]="!showGrid" (click)="showGrid=false;">
                  <i class="fa fa-list" aria-hidden="true"></i> List</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Grid or List-->
        <h3 *ngIf="msgNotFound">Items not found!</h3>
        <div *ngIf="showGrid; else listView" class="row">
          <div *ngFor="let item of items" class="card col-md-4 col-12">
            <a role="link" [routerLink]="['/item', item.id]"><img class="card-img-top col"
                [src]="item.images[0].url"></a>
            <ng-container [ngTemplateOutlet]="item.seller.id===currentUser?.id? SellerItem : ShopItem"></ng-container>
            <ng-template #SellerItem>
              <div class="seller-label">
                Your Item
              </div>
            </ng-template>

            <ng-template #ShopItem>
              <div class="middle">
                <div class="btn-group" role="group">
                  <ng-container [ngTemplateOutlet]='currentUser ? btnBid : btnView'
                    [ngTemplateOutletContext]="{item:item}"></ng-container>
                  <ng-template #btnView>
                    <button class="btn btn-watchlist" [style.width]="'inherit'" [routerLink]="['/item', item.id]">VIEW
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                  </ng-template>
                  <ng-template #btnBid>

                    <ng-container [ngTemplateOutlet]='checkWishlist(item) ? inWishlist : notInWishlist'
                      [ngTemplateOutletContext]="{item:item}"></ng-container>

                    <ng-template #inWishlist>
                      <button class="btn btn-watchlist">Wishlist
                        <span class="fa fa-heart"></span></button>
                    </ng-template>
                    <ng-template #notInWishlist>
                      <button class="btn btn-watchlist" (click)="addToWishlist(item)">Wishlist
                        <span class="fa fa-heart-o"></span></button>
                    </ng-template>

                    <button class="btn btn-watchlist ml-2" [routerLink]="['/item', item.id]">Bid
                      <i class="fa fa-gavel"></i></button>
                  </ng-template>
                </div>
              </div>
            </ng-template>

            <div class="card-body p-2">
              <h6 class="card-title"><a role="link" [routerLink]="['/item', item.id]">{{item.name}}</a>
              </h6>
              <p class="card-text">Start from ${{item.startPrice}}</p>
            </div>
          </div>
        </div>
        <ng-template #listView>
          <div *ngFor="let item of items" class="row">
            <div class="container list-card">
              <div class="row mb-4">
                <div class="col-4">
                  <img class="card-img-top col" src={{item.images[0].url}} />
                </div>
                <div class="col-md-8">
                  <h5>{{item.name}}</h5>
                  <p>{{item.description}}</p>
                  <div class="btns">
                    <ng-container [ngTemplateOutlet]='(currentUser!==null) && (currentUser?.id!==item.seller.id) ? btnBid : btnView'
                      [ngTemplateOutletContext]="{item:item}"></ng-container>
                    <ng-template #btnView>
                      <div>
                        <h4><mark>Start from - ${{item.startPrice}}</mark></h4>
                        <button class="btn btn-watchlist" [style.width]="'200px'" [routerLink]="['/item', item.id]">VIEW
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                      </div>
                    </ng-template>
                    <ng-template #btnBid>
                      <h4><mark>Start from - ${{item.startPrice}}</mark></h4>
                      <ng-container [ngTemplateOutlet]='checkWishlist(item) ? inWishlist : notInWishlist'
                        [ngTemplateOutletContext]="{item:item}"></ng-container>
                      <ng-template #inWishlist>
                        <button class="btn btn-watchlist">Wishlist
                          <span class="fa fa-heart"></span></button>
                      </ng-template>
                      <ng-template #notInWishlist>
                        <button class="btn btn-watchlist" (click)="addToWishlist(item)">Wishlist
                          <span class="fa fa-heart-o"></span></button>
                      </ng-template>
                      <button class="btn btn-watchlist ml-2" [routerLink]="['/item', item.id]">Bid
                        <i class="fa fa-gavel"></i></button>
                    </ng-template>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ul class="nav nav-pills justify-content-center py-4">
          <li *ngIf="currentPage>0" class="nav-item">
            <a class="btn btn-purple-fill nav-link"
              (click)="loadCategoryItems(currentCategory==null?0:currentCategory.id,currentPage-1,undefined,this.currentUser ? this.currentUser.id : undefined)">
              <i class="fa fa-chevron-left" aria-hidden="true"></i> Prev</a>
          </li>
          <li *ngIf="currentPage+1<totalPages" class="nav-item">
            <a class="btn btn-purple-fill nav-link"
              (click)="loadCategoryItems(currentCategory==null?0:currentCategory.id,currentPage+1,undefined,this.currentUser ? this.currentUser.id : undefined)">
              Next <i class="fa fa-chevron-right" aria-hidden="true"></i> </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>