<table class="my-table table">
  <thead class="thead">
    <tr>
      <th scope="col">Item</th>
      <th scope="col" class="w-auto">Name</th>
      <th scope="col">End Date</th>
      <th scope="col">Your Price</th>
      <th scope="col" class="text-center">No Bids</th>
      <th scope="col">Highest Bid</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody class="items">
    <tr *ngFor="let item of items" class="px-3">
      <td><img height="100" width="100" src="{{item.images[0].url}}"></td>
      <td>{{item.name}}</td>
      <td>{{item.endDate | date: 'd MMM yyy'}}</td>
      <td class="text-info">$ {{item.startPrice}}</td>
      <td class="text-center">{{item.itemBids?.length}}</td>
      <td class="text-info">$ {{item.currentPrice}}</td>
      <td>
        <button class="form-control btn-delete" *ngIf="!item.itemBids?.length" (click)="openModal(template)"><i
            class="fa fa-trash"></i></button>
        <ng-template #template>
          <div class="modal-body text-center">
            <p>{{msg}}</p>
            <img height="100" width="100" src="{{item.images[0].url}}">
            <p>{{item.name}}</p>
            <button *ngIf="deleted; else YN" type="button" class="btn btn-purple-fill mr-3" (click)="ok()">OK</button>
            <ng-template #YN>
              <button type="button" class="btn btn-purple-fill mr-3" (click)="confirm(item.id)">Yes</button>
              <button type="button" class="btn btn-purple-outline" (click)="decline()">No</button>
            </ng-template>
          </div>
        </ng-template>
      </td>
      <td>
        <button class="form-control view-btn" role="link" [routerLink]="['/item',item.id]">VIEW</button>
      </td>
    </tr>
  </tbody>
</table>