<div class="navbar navbar-first px-5">
  <ul class=" nav">
    <li class="nav-item">
      <a class="nav-link p-1" href="#"><i class="fa fa-facebook-official"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-1" href="#"><i class="fa fa-instagram"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-1" href="#"><i class="fa fa-twitter-square"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-1" href="#"><i class="fa fa-google-plus-official"></i></a>
    </li>
  </ul>
  <div *ngIf="currentUser; else elseBlock">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <p class="nav-link mb-0">Welcome {{currentUser.firstName}} {{currentUser.lastName}}!</p>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
  <ng-template #elseBlock>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" role="link" routerLink="login" >Login</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link disabled" href="#">or</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="link" routerLink="registration">Create an account</a>
      </li>
    </ul>
  </ng-template>
</div>
<div class="navbar navbar-second px-5">
  <a class="navbar-brand col pl-0">AUCTION</a>
  <form class="input-group col-5 input-search">
    <input type="text" placeholder="Try enter : Shoes" name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <ul class="nav col justify-content-end">
    <li class="nav-item">
      <a class="nav-link py-0" role="link" routerLink="" routerLinkActive="active-link">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link py-0">SHOP</a>
    </li>
    <li class="nav-item" *ngIf="currentUser">
      <a class="nav-link py-0" role="link" routerLink="/profile" routerLinkActive="active-link">MY ACCOUNT</a>
    </li>

  </ul>
</div>