<div class="container">
    <ul class="nav nav-pills py-2 mb-0">
        <li class="nav-item">
          <a class="nav-link" role="link" routerLink="/profile" routerLinkActive="active-link">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Seller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  role="link" routerLink="/bids" routerLinkActive="active-link">Bids</a>
        </li>
      </ul>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Name</th>
        <th scope="col">End Date</th>
        <th scope="col">Your Price</th>
        <th scope="col">Highest Bid</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="currentUser.bids">
      <tr *ngFor="let bid of currentUser.bids">
        <th scope="row"><img class="mw-60" src="https://placehold.it/300x300"></th>
        <td>{{bid.item.name}}</td>
        <td>{{bid.item.endDate}}</td>
        <td>{{bid.bidPrice}}</td>
        <td>{{bid.item.currentPrice}}</td>
        <td><button class="form-control" role="link" [routerLink]="['/item', bid.item.id]">VIEW</button></td>
      </tr>
    </tbody>
  </table>
</div>