<div class="navbar navbar-expand-md navbar-first px">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link p-1"><i class="fa fa-facebook-official"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-1"><i class="fa fa-instagram"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-1"><i class="fa fa-twitter-square"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-1"><i class="fa fa-google-plus-official"></i></a>
    </li>
  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler1"
    aria-controls="navbarToggler1" aria-expanded="false">
    <span><i class="fa fa-bars icon-white"></i></span>
  </button>
  <div *ngIf="currentUser; else elseBlock" class="collapse navbar-collapse justify-content-end " id="navbarToggler1">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <p class="nav-link mb-0">Welcome {{currentUser.firstName}} {{currentUser.lastName}}!</p>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
  <ng-template #elseBlock>
    <div class="collapse navbar-collapse justify-content-end" id="navbarToggler1">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" role="link" routerLink="login">Login</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link disabled" [style.color]="'gray'">or</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="link" routerLink="registration">Create an account</a>
        </li>
      </ul>
    </div>
  </ng-template>
</div>
<div class="navbar navbar-expand-md navbar-second px">
  <a class="navbar-brand col-2 pl-0" href="/"><i class="fa fa-gavel"></i><span>AUCTION</span></a>

  <form *ngIf="path!='/login' && path!='/registration'" (ngSubmit)="searchItems()" [formGroup]="searchForm"
    class="input-group col-5 input-search">
    <input formControlName="search" type="text" autocomplete="off" placeholder="Try enter : Shoes" name="search"
      [ngClass]="{ 'is-invalid': submitted && this.searchForm?.search?.errors }">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler2"
    aria-controls="navbarToggler2" aria-expanded="false">
    <span><i class="fa fa-bars icon-purple"></i></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarToggler2">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link py-0" role="link" routerLink="/" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link py-0" role="link" routerLink="/shop" routerLinkActive="active-link">SHOP</a>
      </li>
      <li #profileOptios class="nav-item dropdown" *ngIf="currentUser">
        <a class="nav-link py-0" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" routerLinkActive="active-link">MY ACCOUNT
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" [routerLink]="['/account/profile']">Profile</a>
          <a class="dropdown-item" [routerLink]="['/account/newitem']">Add Item</a>
          <a class="dropdown-item" [routerLink]="['/account/items']">Your Items</a>
          <a class="dropdown-item" [routerLink]="['/account/bids']">Your Bids</a>
          <a class="dropdown-item" [routerLink]="['/account/wishlist']">Wishlist</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="pendingItems && currentUser" class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
  Check your profile! You have 
  <a [routerLink]="['/account/items']">{{pendingItems!='0'? pendingItems:''}}</a>
  {{pendingItems!='0'&& wonBids!='0'?' and ':''}} 
  <a [routerLink]="['/account/bids']">{{wonBids!='0'? wonBids:'!'}}</a>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>